<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 指纹 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读写短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- location   map-->
    <!-- 访问网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--二维码-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--Bugly-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".myapp.base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WDxbFkduexbSQwsKsrBhT3KUnVXuVyau" />


        <activity
            android:name=".myapp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".myapp.ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".myapp.ui.activity.WebActivity"
            android:label="加载中..." />
        <activity android:name=".myapp.ui.activity.ShowBannerActivity" />
        <activity android:name=".myapp.component.movie.detail.FilmDetailActivity" />
        <activity android:name=".myapp.ui.activity.AboutActivity" />
        <activity android:name=".myapp.ui.activity.TestMenuActivity" />
        <activity
            android:name=".myapp.component.login.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".myapp.component.favorite.MyFavoriteActivity"
            android:label="我喜欢的" />

        <!-- 天气 -->
        <activity
            android:name=".myapp.component.weather.WeatherActivity"
            android:label="" />

        <!-- 设置 -->
        <activity
            android:name=".myapp.ui.activity.SettingActivity"
            android:label="设置" />
        <activity
            android:name=".myapp.ui.activity.VocalConcertTextActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".myapp.component.news.category.CategoryActivity"
            android:label="分类筛选"
            android:screenOrientation="portrait" />

        <activity
            android:name=".myapp.component.life.qrcode.QRcodeActivity"
            android:label="扫描二维码"
            android:screenOrientation="portrait" />


        <activity
            android:name=".myapp.component.map.MapActivity"
            android:label="找厕所"
            android:screenOrientation="portrait" />

        <activity
            android:name=".myapp.component.schedule.AddScheduleActivity"
            android:label="新建日程"
            android:screenOrientation="portrait" />

        <activity
            android:name=".myapp.component.schedule.TodayThingActivity"
            android:label="今日事"
            android:screenOrientation="portrait" />

        <!--日程预览-->
        <activity android:name=".myapp.component.schedule.PreviewScheduleActivity" />

        <activity
            android:name=".myapp.component.siri.SiriActivity"
            android:screenOrientation="portrait" />

        <!--Push Receiver-->
        <!-- User defined. 用户自定义的广播接收器-->
        <!--<receiver-->
        <!--android:name=".myapp.receiver.MyReceiver"-->
        <!--android:enabled="true"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash;Required 用户注册SDK的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.REGISTRATION" />-->
        <!--&lt;!&ndash;Required 用户接收SDK消息的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />-->
        <!--&lt;!&ndash;Required 用户接收SDK通知栏信息的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />-->
        <!--&lt;!&ndash;Required 用户打开自定义通知栏的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />-->
        <!--&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.CONNECTION" />-->
        <!--<category android:name="com.csii.tiannongshang.mobilebank" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name=".myapp.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.yx.cool" />
            </intent-filter>
        </receiver>

        <!-- Share Start -->

        <!---->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- weChat -->
        <activity
            android:name=".myapp.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Share End -->

        <!--Bugly start-->

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <!--map-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


    </application>

</manifest>